@import 'variables.scss';
@import 'fonts.scss';
@import 'elements.scss';

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative; 
  top: 0;
  font-family: 'Articul';
  background: #a8a5a4;
	background-size: cover;
}

.container {
	max-width: $container-max-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
	min-width: 320px;
}

svg {
	width: 100%;
	height: 100%;
}

.svg-icon {
	margin: auto;
	background-repeat: no-repeat no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 1em;
	max-width: 1em;
	line-height: 1em;
	svg {
		width: auto;
    max-height: 100%;
    max-width: 100%;
    fill: currentColor;
	}
}

.header {
	margin-top: 50px;
	height: 40px;
	display: flex;

	&__logo {
		display: inline-block;
		width: 230px;
		height: 40px;
		img {
			max-width: 100%;
			display: block;
		}
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		margin-left: 5px;
		height: 40px;
		width: 40px;

		img {
			max-width: 100%;
			display: block;
		}

		@media (max-width: $screen-sm) {
			display: none;
		}
	}

	.nav {
		background: $silver;
		background: rgba(204,204,204,.2);
		&__list {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;

			@media (max-width: $screen-sm) {
				flex-direction: column;
			}
		}

		&__item {
			position: relative;

			&:hover {
				.submenu {
					visibility: visible;
					opacity: 1;
					display: flex;
				}
				.nav__link {
					color: $white;
					background: $black;
				}
			}
		}

		&__link {
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			display: block;
			font-size: 16px;
			line-height: 40px;
			padding: 0 15px;
			color: $black;
			transition: all .3s ease;
		}

		.submenu {
			padding: 0;
			position: absolute;
			left: 0;
			top: 100%;
			left: 0;
			list-style: none;
			opacity: 0;
			visibility: hidden;
			display: none;
			background: $alto;
			background: rgba(223,220,220,.6);

			&__item {
				display: inline-block;

				&:hover {
					.submenu__link {
						background: $white;
					}
				}
			}

			&__link {
				color: $black;
				text-decoration: none;
				font-size: 16px;
				line-height: 40px;
				white-space: nowrap;
				font-weight: 500;
				display: block;
				padding: 0 15px;
				transition: all .3s ease;
			}
		}
	}
}

.main {
	height: 80vh;
	padding-top: 50px;
}

.content {

}

.footer {
	background: rgba(204,204,204,.4);
	max-height: 50px;
	line-height: 50px;
	width: 100%;
	left: 0;
	bottom: 0;
	position: fixed;
	
	&__copy {
		color: $nightRider;
		font-size: 16px;
		margin: 0;
		display: inline-block;
		margin-right: 95px;
		@media (max-width: $screen-md) {

		}
	}

	&__icon {
		display: inline-block;
		margin-right: 25px;
		vertical-align: middle;
	}

	&__img {
		max-width: 100%;
		display: block;
	}

	&__social {
		display: inline-block;
		float: right;
		svg {
			fill: $black;
		}
	}

	&__link {
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
		text-decoration: none;
	}
}