@import 'variables.scss';
@import 'fonts.scss';
// @import '../../../../node_modules/bourbon-neat/app/assets/stylesheets/neat.scss';

/*
 * functions
 */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function vh($size) {
  @return (strip-unit($size)/$scrh*100)+vh;
}

@function vw($size) {
  @return (strip-unit($size)/$scrw*100)+vw;
}

/*
 * eof functions
 */

//elements
h1 {
  font-family: $ffreg;
  font-size: vh($fsh1);
  font-weight: $fwblack;
  @media screen and (max-width: $screen-md) {
    font-size: vh($fsh1md);
  }
}
h2 {
  font-family: $ffreg;
  font-size: vh($fsh2);
  font-weight: $fwblack;
  line-height: 1.2;
  @media screen and (max-width: $screen-md) {
    font-size: vh($fsh2md);
  }
}
h3 {
  font-family: $ffreg;
  font-size: vh($fsh3);
  font-weight: $fwblack;
  line-height: 1.2;
  @media screen and (max-width: $screen-md) {
    font-size: vh($fsh3md);
  }
}
h4 {
  font-family: $ffreg;
  font-size: vh($fsh4);
  font-weight: $fwblack;
  line-height: 1.2;
  @media screen and (max-width: $screen-md) {
    font-size: vh($fsh4md);
  }
}
//eof elements

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative; 
  top: 0;
  font-family: 'Articul';
  background: #a8a5a4;
	background-size: cover;
}


.container {
	margin-right: auto;
  margin-left: auto;

	@media (min-width: $screen-xs) {
		width: 480px;
	}
  
  @media (min-width: $screen-sm) {
    width: 768px;
  }

  @media (min-width: $screen-md) {
    width: 1024px;
  }

  @media (min-width: $screen-lg) {
    width: 1280px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

svg {
	width: 100%;
	height: 100%;
}

.svg-icon {
	margin: auto;
	background-repeat: no-repeat no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 1em;
	max-width: 1em;
	line-height: 1em;
	svg {
		width: auto;
    max-height: 100%;
    max-width: 100%;
    fill: currentColor;
	}
}

.header {
  margin-top: 50px;
  height: 40px;
  display: flex;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

	&__logo {
		display: inline-block;
		width: 230px;
		height: 40px;
		background: transparent url('../img/sprite/articul-logo.svg') left top no-repeat;
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		margin-left: 5px;
		height: 40px;
		width: 40px;

		img {
			max-width: 100%;
			display: block;
		}

		@media (max-width: $screen-md) {
			display: none;
		}
	}

    &__mobile-toggle {
      display: none;
      width: 40px;
      height: 40px;
      background: $alto;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;

      &__line {
        position: absolute;
        width: 75%;
        height: 2px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        background: $black;

        &:before {
          position: absolute;
          content: '';
          top: -7px;
          left: 0;
          height: 2px;
          background: $black;
          width: 100%;
        }

        &:after {
          position: absolute;
          content: '';
          bottom: -7px;
          left: 0;
          width: 100%;
          background: $black;
          height: 2px;
        }

      }

      @media (max-width: $screen-md) {
        display: inline-block;
      }
    }

	.nav {
		background: $silver;
		background: rgba(204,204,204,.2);

    @media (max-width: $screen-md) {
      display: none;
    }

		&__list {
			margin: 0;
			padding: 0;
			list-style: none;

		}

		&__item {
			position: relative;
      display: inline-block;

      @media (max-width: $screen-sm) {
        display: block;
      }

			&:hover {
				.submenu {
					visibility: visible;
					opacity: 1;
					display: flex;
				}
				.nav__link {
					color: $white;
					background: $black;
				}
			}
		}

		&__link {
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			display: block;
			font-size: 16px;
			line-height: 40px;
			padding: 0 15px;
			color: $black;
			transition: all .3s ease;
		}

		.submenu {
			padding: 0;
			position: absolute;
			left: 0;
			top: 100%;
			left: 0;
			list-style: none;
			opacity: 0;
			visibility: hidden;
			display: none;
			background: $alto;
			background: rgba(223,220,220,.6);

			&__item {
				display: inline-block;

				&:hover {
					.submenu__link {
						background: $white;
					}
				}
			}

			&__link {
				color: $black;
				text-decoration: none;
				font-size: 16px;
				line-height: 40px;
				white-space: nowrap;
				font-weight: 500;
				display: block;
				padding: 0 15px;
				transition: all .3s ease;
			}
		}
	}
}

.main {
	// height: 80vh;
	padding-top: 50px;
}

.content {

}





.footer {
	background: rgba(204,204,204,.4);
	max-height: 50px;
	line-height: 50px;
	width: 100%;
	left: 0;
	bottom: 0;
	position: fixed;
	
	&__copy {
		color: $nightRider;
		font-size: 16px;
		margin: 0;
		display: inline-block;
		margin-right: 95px;
		@media (max-width: $screen-md) {
          margin: 0;
		}
	}

	&__icon {
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle;

      @media (max-width: $screen-md) {
        display: none;
      }
	}

	&__img {
		max-width: 100%;
		display: block;
	}

	&__social {
		display: inline-block;
		float: right;
		svg {
			fill: $black;
		}
	}

	&__link {
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
		text-decoration: none;
	}
}

html.remodal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(0, 0, 0, .6);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  right: -50px;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;

  @media (max-width: $screen-md) {
  	right: 0;
  	top: -50px;
  }
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

	height: 30px;
  width: 30px;

  content: "";
  background:transparent url('../img/sprite/cross.svg') left top no-repeat;
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 800px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

.about-block {
  display: flex;
  
  &__item {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    background: #e8e9ed;
    background: rgba(232, 233, 237, .8);
    

    &--client {
      background-size: cover;
    }

    &--project {
      position: relative;
      background: rgba(255,255,255,.4);
      cursor: pointer;

      &:after {
        position: absolute;
        content: '';
        bottom: 15px;
        right: 15px;
        background:transparent url('../img/sprite/cross-thick.svg') left top no-repeat;
        width: 15px;
        height: 15px;
        transition: all .7s ease;
        transform: rotate(0);

      }

      &:hover:after {
        transform: rotate(180deg);
      }
    }
  }

 

  &__title {
    font-size: 20px;
    color: $black;
    padding: 10px 0 0 10px;
    display: inline-block;
  }

  &__date {
    font-size: 28px;
    display: inline-block;
    margin-top: 55px;
    margin-left: 10px;
  }
}

.case-block {
  &__container {
    min-height: 100vh;
    padding: vh(100px) vw(82px) 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.case-announce {
  padding-top: 180px;
  background: url('../img/desktop/case1.jpg') center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &__title {
    // font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    color: $albescentWhite;
    margin: 0 0 50px 0;
    text-transform: uppercase;
  }

  &__summery {
    font-style: normal;
    font-weight: 100;
    color: $albescentWhite;
    font-size: 40px;
    line-height: 35px;
    margin: 0 0 85px 0;
  }
  &__about-block {
    padding-bottom: 150px;
  }
}

.case-briefidea {
  overflow: hidden;
  // @include outer-container;
  max-width: 100%;
  .case-block {
    // @include span-columns(6);
    // @include omega();
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  @media screen and (max-width: $screen-md) {
    .case-block {
      // @include span-columns(12);
    }
  }
}
.case-brief {
  &__title {
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    color: $albescentWhite;
    margin: 0 0 50px 0;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    color: $albescentWhite;
    font-weight: 100;
    font-style: normal;
  }
}

.case-idea {
  &__title {
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    color: $black;
    margin: 0 0 50px 0;
    text-transform: uppercase;
  }
}

.slick-slider {

  &__item {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
  }

  &__text {
    font-size: 40px;
    color: $black;
    font-weight: 100;
    line-height: 35px;
  }

  &__wrap {
    padding-top: 150px;
  }
}

.slick-slider {
  margin: 0 !important;
}

.slick-dots {
  bottom: 100px;

  li {
    background: #c2c2c2;
    background: rgba(174,174,174,.6);
    border-radius: 50%;

    &.slick-active {
      background: $white;
    }

    button {
      display: none;
    }
  } 
}












