//misc
$node_modules: '../../../../node_modules/';

//container
$container-max-width: 1284px;

//colors
$black: #000000;
$white: #ffffff;
$nightRider: #0d0907;
$silver: #cccccc;
$alto: #DFDCDC;
$albescentWhite: #F3E3CC;
$ebonyClay: #1E2532;

//Media queries breakpoints

$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;

//font families
$ffreg: 'Articul';

//font weights
$fwreg: normal;
$fwmd: 500;
$fwblack: 900;
$fwbold: bold;
$fwlight: 300;

//font sizes
$fsh1: 120px;
$fsh2: 80px;
$fsh3: 40px;
$fsh4: 24px;
$fs: 18px;


//font sizes
$fsh1md: 140px/2;
$fsh2md: 120px/2;
$fsh3md: 60px/2;
$fsh4md: 48px/2;
$fsmd: 36px/2;
@media screen and (max-width: $screen-md) {
}

