//container
$container-max-width: 1284px;

//colors
$black: #000000;
$white: #ffffff;
$nightRider: #0d0907;
$silver: #cccccc;
$alto: #DFDCDC;
$albescentWhite: #F3E3CC;
$ebonyClay: #1E2532;

//Media queries breakpoints

$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;