<div class="page-block"
  ng-class="{'page-block_{{block.type}}': block.type, 'page-block_{{block.type}}--single': section.type !== 'brief-idea'}" 
  flex="100" flex-gt-sm="{{(section.type == 'brief-idea')? 45 : 100}}" 
  ng-style="block.commonStyle">
  <div class="page-block__container">
    <div class="page-block__row" layout="row" layout-align="start" layout-wrap>
      <div class="page-block__col" flex="100" flex-gt-sm="{{(section.type == 'brief-idea')? 100 : 55}}">
        <h2 class="page-block_brief__title page-block__title" ng-bind-html="trustAsHtml(block.title)"></h2>
        <div class="page-block_brief__summary page-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
      </div>
      <div class="page-block__col" flex="100" flex-gt-sm="{{(section.type == 'brief-idea')? 100 : 45}}">
        <div class="page-block_brief__targets page-block__content">
          <h4>Цели кампании:</h4>
          <div ng-bind-html="trustAsHtml(block.targets)"></div>
        </div>
      </div>
  </div>
</div>
