<div class="page-block"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    ng-style="block.commonStyle"
    flex="100"
  >
  <div class="page-block__container">
    <div class="page-block__row" layout="row" layout-align="start" layout-wrap>
      <div class="page-block__col" flex="100" flex-gt-sm="50">
        <h2 class="page-block_{{block.type}}__title page-block__title" ng-bind-html="trustAsHtml(block.title)"> </h2>
      </div>
      <div class="page-block__col" flex="100" flex-gt-sm="50">
        <div class="page-block_{{block.type}}__content page-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
      </div>
    </div>
    <div class="page-block_{{block.type}}__img">
      <div class="page-block_{{block.type}}__img-bg"  
        ng-style="{
          'background-image': 'url(' + (isDesktop && block.image.desktop || block.image.mobile || false) + ')'
        }"
        alt="{{block.image.alt}}" 
        ></div>
    </div>
  </div>
</div>