<div class="news-page">
    <div class="news-page__container" layout="row" layout-wrap>
        <div class="news-list" flex="100" layout="row" layout-align="center start" layout-wrap layout="row">
            <div class="news-image" layout="row" layout-align="center start" 
                ng-if="newsdetail.image" layout-wrap layout="row">
                <h5 class="news-image__date" flex="100" ng-bind="newsdetail.date"></h5>
                <div class="news-image__left" flex-gt-xs="50" flex="100">
                    <h5 class="news-image__title" ng-bind="newsdetail.title"></h5>
                    <p class="news-image__subtitle" ng-bind="newsdetail.subtitle"></p>
                </div>
                <div class="news-image__right" flex-gt-xs="50" flex="100" ng-if="newsdetail.image">
                    <div class="news-image__image" ng-style="{'background-image': newsdetail.image}"></div>
                </div>
                <p class="news-image__info" flex="100" ng-bind="newsdetail.text"></p>
            </div>
            <div class="news-text" layout="row" layout-align="start" layout-wrap 
                ng-if="!newsdetail.image" layout="row">
                <h5 class="news-text__date" flex="100" ng-bind="newsdetail.date"></h5>
                <div class="news-text__left" flex-gt-xs="70" flex="100">
                    <h5 class="news-text__title" ng-bind="newsdetail.title"></h5>
                    <p class="news-text__subtitle" ng-bind="newsdetail.subtitle"></p>
                    <p class="news-text__info" ng-bind="newsdetail.text"></p>
                </div>
            </div>
        </div>
    </div>
</div>