<div class="inner-page__bg" ng-class="{'inner-page__bg--{{pageData.pageBgType}}': pageData.pageBgType}"></div>
<div class="inner-page">
	<div class="inner-page__container" layout="row" layout-sm="column" layout-wrap>
		<div class="page-block-text" flex="100" flex-lg="45" flex-xl="45" flex-md="45">
			<h2 class="page-block-text__title" ng-bind-html="trustAsHtml(currentData.title)"></h2>
			<p class="page-block-text__info" ng-bind="currentData.slogan"></p>
		</div>
		<div class="page-block-list" flex="100" flex-lg="55" flex-xl="55" flex-md="55" layout="row" layout-align="center start" layout-wrap layout="row" >
			<md-grid-list class="page-block-list__grid"
        md-cols="3"
        md-cols-sm="2"
        md-cols-xs="2"
        md-gutter="0px"
        md-row-height="1:1"
        >
        <md-grid-tile 
        	ng-repeat="block in currentData.blocks"
          md-rowspan="1" md-colspan="1" 
          >
          <div class="page-block-list__item" 
          	ng-class="{'page-block-list__item--{{block.type}}': block.type}" 
						ng-style="{
							'background-color': block.bgColor
						}"
          >
						<div class="page-block-list__image" 
						ng-style="{
							'background-image': block.bgImage
						}"></div>
						<h3 class="page-block-list__title" ng-bind-html="trustAsHtml(block.title)"></h3>
						<span class="page-block-list__cross svg-icon">
		          <svg ng-style="{'fill': block.fill}">
		            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
		          </svg>
		        </span>
					</div>
        </md-grid-tile>
      </md-grid-list>
		</div>
	</div>
</div>