<div class="inner-page">
	<div class="inner-page__container" layout="row" layout-sm="column" layout-wrap>
		<div class="page-block-text" flex="100" flex-lg="40" flex-xl="40" flex-md="40">
			<h2 class="page-block-text__title">
				умнее<br>выше<br>быстрее
			</h2>
			<p class="page-block-text__info">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt fuga mollitia facilis dicta expedita hic, in totam, tempora quidem temporibus. Eaque totam id dolore, ea repellendus eveniet aliquid eius.
			</p>
		</div>
		<div class="page-block-list" flex="100" flex-lg="60" flex-xl="60" flex-md="60" layout="row" layout-wrap>
			<div class="page-block-list__item" flex="33">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis molestias dicta unde iure nisi cum, alias perferendis tempore eius recusandae id tempora commodi animi ducimus nesciunt quia aspernatur, magnam. Nesciunt.
			</div>
			<div class="page-block-list__item" flex="33">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis molestias dicta unde iure nisi cum, alias perferendis tempore eius recusandae id tempora commodi animi ducimus nesciunt quia aspernatur, magnam. Nesciunt.
			</div>
			<div class="page-block-list__item" flex="33">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis molestias dicta unde iure nisi cum, alias perferendis tempore eius recusandae id tempora commodi animi ducimus nesciunt quia aspernatur, magnam. Nesciunt.
			</div>
		</div>
	</div>
</div>