<div class="inner-page">
	<div class="inner-page__container" layout="row" layout-sm="column" layout-wrap>
		<div class="page-block-text" flex="100" flex-lg="45" flex-xl="45" flex-md="45">
			<h2 class="page-block-text__title">
				умнее<br>выше<br>быстрее
			</h2>
			<p class="page-block-text__info">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt fuga mollitia facilis dicta expedita hic, in totam, tempora quidem temporibus. Eaque totam id dolore, ea repellendus eveniet aliquid eius.
			</p>
		</div>
		<div class="page-block-list" flex="100" flex-lg="55" flex-xl="55" flex-md="55" layout="row" layout-wrap>
			<div class="page-block-list__item">
				<div class="page-block-list__image" style="background-image: url(../local/templates/articulmedia/img/desktop/block-bg.jpg);"></div>
				<h3 class="page-block-list__title">делимся опытом на РИФ+КИБ</h3>
				<span class="page-block-list__cross svg-icon">
          <svg style="fill:#fff">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
          </svg>
        </span>
			</div>
			<div class="page-block-list__item">
				<div class="page-block-list__image" style="background-image: url(../local/templates/articulmedia/img/desktop/block-bg.jpg);"></div>
				<h3 class="page-block-list__title">делимся опытом на РИФ+КИБ</h3>
				<span class="page-block-list__cross svg-icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
          </svg>
        </span>
			</div>
			<div class="page-block-list__item">
				<div class="page-block-list__image" style="background-image: url(../local/templates/articulmedia/img/desktop/block-bg.jpg);"></div>
				<h3 class="page-block-list__title">делимся опытом на РИФ+КИБ</h3>
				<span class="page-block-list__cross svg-icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
          </svg>
        </span>
			</div>
		</div>
	</div>
</div>