<div class="page-block"
  ng-class="{'page-block_{{block.type}}': block.type, 'page-block_{{block.type}}--single': section.type !== 'brief-idea'}" 
  flex="100" flex-gt-sm="{{(section.type == 'brief-idea')? 55 : 100}}"  
  ng-style="block.commonStyle">
  <div class="page-block__container">
    <h2 class="page-block_idea__title page-block__title" ng-bind-html="trustAsHtml(block.title)"></h2>
    <div class="page-block_idea__content page-block__content" 
      flex="100" 
      flex-gt-sm="{{(section.type == 'brief-idea')? 60 : 80}}" 
      ng-bind-html="trustAsHtml(block.content)"></div>
  </div>
</div>
