<div class="articul-page" art-page-constructor-dir>
    <div class="articul-page__container" layout="row" layout-wrap>
        <div class="articul-item" ng-repeat="item in timeLineData.timeLineItem" flex-gt-sm="25" flex="50">
            <h4 class="articul-item__number" ng-bind="item.number"></h4>
            <h5 class="articul-item__title" ng-bind-html="trustAsHtml(item.title)"></h5>
        </div>
    </div>
    <!--<div class="time-line"></div>-->

    <div class="time-line__wrap">
        <slick settings="slickConfigTimeLine" class="time-line__blocks" layout="row" layout-wrap
               layout-align="space-around end">
            <h1 class="time-line__before">
                articulmedia<br>
                навсегда
            </h1>
            <div class="time-item" ng-repeat="item in items">
                <div class="time-item__happy" ng-style="{height: item.happy}"></div>
                <div class="time-item__honor" ng-style="{height: item.honor}"></div>
                <div class="time-item__release" ng-style="{height: item.release}"></div>
                <div class="time-item__year" ng-bind="item.year"></div>
            </div>
            <div class="time-item">
                <img class="time-item__icon" src="/local/templates/articulmedia/img/icon/time.png">
                <div class="time-item__year">2016</div>
            </div>
            <h1 class="time-line__after">
                articulmedia<br>
                навсегда
            </h1>
        </slick>
    </div>
    <h4 class="time-line__title" hide-gt-xs>articulmedia <br> навсегда</h4>
</div>