<div class="carousel-waterwheel__container" 
  md-swipe-right="prev()" 
  md-swipe-left="next()" 
  >
  <div class="carousel-waterwheel" 
    >
    <img ng-repeat="slide in slides track by $index" 
      ng-src="{{ ($rootScope.isDesctop)? slide.desktop : slide.mobile }}" 
      art-popup-img-dir 
      ng-click="popupImgCtrl.showImgPopup(slide.original, activeSlideIndex != $index)"
      alt="{{slide.title}}" 
      class="carousel-waterwheel__slide" 
      data-slideindex="{{$index}}"
      />
  </div>
</div>