<span class="popup-img__close popup-img__close_outer svg-icon" hide-gt-sm ng-click="popupImgCtrl.closePanel();">
  <svg>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross"></use>
  </svg>
</span>
<div class="popup-img__inner">
  <span class="popup-img__close svg-icon" hide-sm hide-xs ng-click="popupImgCtrl.closePanel();">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross"></use>
    </svg>
  </span>
  <img ng-src="{{imgsrc}}" alt="">
</div>