<div class="page-block"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    flex="100" flex-gt-sm="100" 
    ng-style="block.commonStyle">
  <div class="page-block__container page-block__container_pr-gt-sm-0">
    <h4 class="page-block_solution-gallery-single__title" ng-bind-html="trustAsHtml(block.title)"></h4>
    <div class="page-block_solution-gallery-single__content page-block__content">
      <p ng-repeat="item in block.content track by $index" 
        ng-bind-html="trustAsHtml(item)"
        class="{'bold': $odd}"></p>
    </div>
    <div class="page-block_solution-gallery-single__images page-block__col page-block__col_pr-gt-sm-0">
      <div class="page-block_solution-gallery-single__img">
        <div class="page-block_solution-gallery-single__img-bg"  
          ng-style="{
            'background-image': 'url(' + (isDesktop && block.image.desktop || block.image.mobile || false) + ')'
          }"
          alt="{{block.image.alt}}" 
          ></div>
      </div>
    </div>
  </div>
</div>