<section class="page-section" 
  ng-repeat="section in case.sections"
  ng-class="{'page-section_{{section.type}}': section.type}" 
  layout="row"
  layout-align="center"
  layout-wrap 
  ng-style="section.commonStyle" 
  >
  <!-- announce -->
  <div class="page-block"
    ng-repeat-start="block in section.blocks"
    ng-if="block.type == 'announce'"  
    ng-class="{'page-block_{{block.type}}': block.type}" 
    ng-style="block.commonStyle"
    flex="100" 
    >
    <div class="page-block__container">
      <h2 ng-if="!block.titleImg" class="page-block_announce__title" ng-bind-html="trustAsHtml(block.title)"
      ng-style="{
      'color': block.style.titleTextColor}"></h2>
      <div ng-if="block.titleImg" class="page-block_announce__title page-block_announce__title_img">
        <img ng-src="{{(isDesktop && block.titleImg.desktop || block.titleImg.mobile)}}" alt="{{block.title}}">
      </div>
      <h3 class="page-block_announce__summary" ng-bind-html="trustAsHtml(block.summary)"></h3>
      <div class="page-block_announce__about-block about-block" 
        ng-style="{'color': block.style.aboutColor}">
        <div class="about-block__item about-block__item--client" 
          ng-style="{ 
            'background-image': 'url(' + (isDesktop && block.style.bgAboutImage.desktop || block.style.bgAboutImage.mobile) + ')',
            'background-color': block.style.aboutBgColors[0],
          }">
          <span class="about-block__title">клиент</span>
        </div>
        <div class="about-block__item about-block__item--date"
          ng-style="{ 
            'background-color': block.style.aboutBgColors[1]
          }">
          <span class="about-block__title">релиз</span>
          <span class="about-block__date" ng-bind="block.release"></span>
        </div>
        <div class="about-block__item about-block__item--project" 
        ng-if="block.type == 'announce-slide'" 
        ng-style="{ 
            'background-color': block.style.aboutBgColors[2]
          }">
          <span class="about-block__title">о проекте</span>
          <span class="about-block__cross svg-icon">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- eof announce -->

  <!-- brief -->
  <div  class="page-block"
    ng-if="block.type == 'brief'" 
    ng-class="{'page-block_{{block.type}}': block.type}" 
    flex="100" flex-gt-sm="45" 
    ng-style="block.commonStyle">
    <div class="page-block__container">
      <h2 class="page-block_brief__title page-block__title" ng-bind-html="trustAsHtml(block.title)"></h2>
      <div class="page-block_brief__summary page-block__content" ng-bind-html="trustAsHtml(block.summary)"></div>
      <div class="page-block_brief__content page-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
    </div>
  </div>
  <!-- eof brief -->

  <!-- idea -->
  <div class="page-block"
    ng-if="block.type == 'idea'"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    flex="100" flex-gt-sm="55" 
    ng-style="block.commonStyle">
    <div class="page-block__container">
      <h2 class="page-block_idea__title page-block__title" ng-bind-html="trustAsHtml(block.title)"></h2>
      <div class="page-block_idea__content page-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
    </div>
  </div>
  <!-- eof idea -->

  <!-- solution-carousel -->
  <div class="page-block"
    ng-if="block.type == 'solution-carousel'"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    ng-style="block.commonStyle"
    flex="100"
  >
    <div class="page-block__container">
      <div class="page-block__row" layout="row" layout-align="start" layout-wrap>
        <div class="page-block__col" flex="100" flex-gt-sm="50">
          <h2 class="page-block_solution-carousel__title page-block__title" ng-bind-html="trustAsHtml(block.title)"> </h2>
        </div>
        <div class="page-block__col" flex="100" flex-gt-sm="50">
          <div class="page-block_solution-carousel__content page-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
        </div>
      </div>
      <div class="page-block__row" layout="row" layout-align="start" layout-wrap>
        <div class="page-block__col" flex="100">
          <art-carousel-waterwheel-dir class="page-solution-carousel__carousel" slides="block.images"></art-carousel-waterwheel-dir>
        </div>
      </div>
    </div>
  </div>
  <!-- eof solution-carousel -->

<!-- solution-gallery -->
  <!-- solution-gallery-single -->
  <div  class="page-block"
    ng-if="block.type == 'solution-gallery-single'" 
    ng-class="{'page-block_{{block.type}}': block.type}" 
    flex="100" flex-gt-sm="55" 
    ng-style="block.commonStyle">
    <div class="page-block__container page-block__container_pr-gt-sm-0">
      <h4 class="page-block_solution-gallery-single__title" ng-bind-html="trustAsHtml(block.title)"></h4>
      <div class="page-block_solution-gallery-single__content page-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
      <div class="page-block_solution-gallery-single__images page-block__col page-block__col_pr-gt-sm-0">
        <div class="page-block_solution-gallery-single__img">
          <div class="page-block_solution-gallery-single__img-bg"  
            ng-style="{
              'background-image': 'url(' + (isDesktop && block.image.desktop || block.image.mobile || false) + ')'
            }"
            alt="{{block.image.alt}}" 
            art-popup-img-dir 
            ng-click="popupImgCtrl.showImgPopup(block.image.original)"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- eof solution-gallery-single -->

  <!-- solution-gallery-multi -->
  <div class="page-block"
    ng-if="block.type == 'solution-gallery-multi'"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    flex="100" flex-gt-sm="45" 
    ng-style="block.commonStyle">
    <div class="page-block__container">
      <h4 class="page-block_solution-gallery-multi__title" ng-bind-html="trustAsHtml(block.title)"></h4>
      <div class="page-block_solution-gallery-multi__content page-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
      <div class="page-block_solution-gallery-multi__images page-block__col">
        <md-grid-list class="page-block_solution-gallery-multi__images-grid"
          md-cols="2"
          md-row-height="1:1"
          md-gutter="18px" md-gutter-gt-sm="18px" >

          <md-grid-tile 
            md-rowspan="1" md-colspan="1" 
            ng-repeat="img in block.images"  
            >
            <div class="page-block_solution-gallery-multi__img plus-item" 
            ng-class="{'page-block_solution-gallery-multi__img_even': $odd}"
            >
              <div class="page-block_solution-gallery-multi__img-bg"  
                ng-style="{
                  'background-image': 'url(' + (isDesktop && img.desktop || img.mobile || false) + ')'
                }"
                alt="{{img.alt}}" 
                art-popup-img-dir 
                ng-click="popupImgCtrl.showImgPopup(img.original)"></div>
              <span class="plus-item__icon">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
                </svg>
              </span>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </div>
  <!-- eof solution-gallery-multi -->
<!-- eof solution-gallery-multi -->

  <!-- total -->
  <div  class="page-block"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    ng-if="block.type == 'total'" 
    flex="100" 
    ng-style="block.commonStyle">
    <div class="page-block__container">
      <h2 class="page-block_total__title page-block__title" ng-bind-html="trustAsHtml(block.title)"> </h2>
      <div class="page-block__row" layout="row" layout-align="start" layout-wrap>
        <div class="page-block__col page-block__col_pr-gt-sm-0" flex="100" flex-gt-sm="55">
          <div class="page-block_total__content" layout="row" layout-align="start">
            <div class="page-block_total__content-col page-block__content"
              ng-repeat="item in block.content track by $index" 
              ng-bind-html="trustAsHtml(item)" 
              flex="50"
              ></div>
          </div>
          
        </div>
        <div class="page-block__col" flex="100" flex-gt-sm="45">
          <slick class="page-block_total__slogan-carousel" settings="slickConfigSlogan">
            <div class="page-block_total__slogan" 
              ng-repeat="item in block.slogans track by $index"
              ng-bind-html="trustAsHtml(item)" 
              ></div>
          </slick>
        </div>
      </div>
    </div>
    <div class="page-block_total__img" 
      ng-style="{
        'color': block.style.textColor, 
        'background-color': block.style.bgColor, 
        'background-image': block.image && 'url(' + (isDesktop && block.image.desktop || block.image.mobile) + ')' || false
      }"
      ></div>
  </div>  
  <!-- eof total -->

<!-- video -->
  <div  class="page-block"
    ng-if="block.type == 'video'"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    flex="100" 
    ng-style="block.commonStyle"
    >
    <div class="page-block__container">
      <div class="page-block_video__container">
        <div class="page-block_video__video embed-responsive embed-responsive-16by9 ">
          <youtube-video video-url="block.video"></youtube-video>
        </div>
      </div>
    </div>
  </div>
<!-- eof video -->

<!-- crosses -->
  <div  class="page-block"
    ng-repeat-end 
    ng-if="block.type == 'crosses'"
    ng-class="{'page-block_{{block.type}}': block.type}" 
    flex="100" 
    ng-style="block.commonStyle"
    >
    <div class="page-block__container">
      <h3 class="page-block__title" ng-bind-html="trustAsHtml(block.title)"></h3>
      <div class="cases-list">
        <md-grid-list class="cases-list__grid"
          md-cols-gt-sm="5"
          md-cols="2"
          md-row-height="1:1"
          md-gutter="0" md-gutter-gt-sm="0" >
          <md-grid-tile 
            md-rowspan="1" md-colspan="1" 
            ng-repeat="item in block.items"  
            >
            <a class="cases-list__grid-item" 
              ng-class="{'plus-item': (item.type != 'client') }"
              ng-attr-href="{{item.link}}"
              title="{{item.title}}"
              >
              <div class="cases-list__grid-item-bg"  
                ng-style="{
                  'background-image': 'url(' + (isDesktop && item.image.desktop || item.image.mobile || false) + ')'
                }"
                title="{{item.alt}}" 
                ></div>
              <span ng-if="item.type != 'client'" class="plus-item__icon">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
                </svg>
              </span>
            </a>
          </md-grid-tile>
          <md-grid-tile 
            md-rowspan="1" md-colspan="1" 
            >
            <div class="page-list__grid-item plus-item" 
              ng-click="loadMoreCroses()"
              title="{{item.title}}"
              >
              <span class="plus-item__icon">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
                </svg>
              </span>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </div>
<!-- eof crosses -->

</section>