<section 
  ng-repeat-start="block in case.blocks"
  ng-if="block.type == 'announce'" 
  ng-class="{'case-{{block.type}}': block.type}" 
  ng-style="{
    'color': block.style.color, 
    'background-color': block.style.bgColor, 
    'background-image': block.style.bgImg && 'url(' + (isDesktop && block.style.bgImg.desktop || block.style.bgImg.mobile) + ')'
  }">
  <div class="case-block__container">
    <h2 class="case-announce__title" ng-bind-html="trustAsHtml(block.title)"></h2>
    <h3 class="case-announce__summery" ng-bind-html="trustAsHtml(block.summery)"></h3>
    <div class="case-announce__about-block about-block" 
      ng-style="{'color': block.style.aboutColor}">
      <div class="about-block__item about-block__item--client" 
        ng-style="{ 
          'background-image': 'url(' + (isDesktop && block.style.aboutBg.desktop || block.style.aboutBg.mobile) + ')',
          'background-color': block.style.aboutBgColors[0],
        }">
        <span class="about-block__title">клиент</span>
      </div>
      <div class="about-block__item about-block__item--date"
        ng-style="{ 
          'background-color': block.style.aboutBgColors[1]
        }">
        <span class="about-block__title">релиз</span>
        <span class="about-block__date" ng-bind="case.date"></span>
      </div>
      <div class="about-block__item about-block__item--project" ng-style="{ 
          'background-color': block.style.aboutBgColors[2]
        }">
        <span class="about-block__title">о проекте</span>
        <span class="about-block__cross svg-icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>

<section ng-if="block.type == 'briefidea'" 
  ng-class="{'case-{{block.type}}': block.type}" 
  layout="row"
  layout-align="center"
  layout-wrap
   >
  <!-- brief -->
  <div  class="case-brief case-block" 
    flex="100" flex-gt-sm="50"
    ng-repeat="brief in [block.brief]" 
    ng-style="{
      'color': brief.style.color, 
      'background-color': brief.style.bgColor, 
      'background-image': brief.style.bgImg && 'url(' + (isDesktop && brief.style.bgImg.desktop || brief.style.bgImg.mobile) + ')' || false
    }">
    <div class="case-block__container">
      <h2 class="case-brief__title">
        БРИФ
      </h2>
      <div class="case-brief__summery case-block__content" ng-bind-html="trustAsHtml(brief.summery)"></div>
      <div class="case-brief__content case-block__content" ng-bind-html="trustAsHtml(brief.content)"></div>
    </div>
  </div>
  <!-- eof brief -->
  <!-- idea -->
  <div ng-if="block.type == 'briefidea'" 
    class="case-idea case-block" 
    flex="100" flex-gt-sm="50"
    ng-repeat="idea in [block.idea]" 
    ng-style="{
      'color': idea.style.color, 
      'background-color': idea.style.bgColor, 
      'background-image': idea.style.bgImg && 'url(' + (isDesktop && idea.style.bgImg.desktop || idea.style.bgImg.mobile) + ')' || false
    }">
    <div class="case-block__container">
      <h2 class="case-idea__title">
        ИДЕЯ
      </h2>
      <div class="case-idea__content case-block__content" ng-bind-html="trustAsHtml(idea.content)"></div>
    </div>
  </div>
  <!-- eof idea -->
</section>

<!-- solution-carousel -->
<section ng-if="block.type == 'solution-carousel'" ng-class="{'case-{{block.type}}': block.type}"
  ng-style="{
      'color': block.style.color, 
      'background-color': block.style.bgColor, 
      'background-image': block.style.bgImg && 'url(' + (isDesktop && block.style.bgImg.desktop || block.style.bgImg.mobile) + ')' || false
    }">
  <div  class="case-block">
    <div class="case-block__row" layout="row" layout-align="start" layout-wrap>
      <div class="case-block__col" flex="100" flex-gt-sm="50">
        <h2 class="case-solution-carousel__title">
          РЕШЕНИЕ
        </h2>
      </div>
      <div class="case-block__col" flex="100" flex-gt-sm="50">
        <div class="case-solution-carousel__content case-block__content" ng-bind-html="trustAsHtml(block.content)"></div>
      </div>
    </div>
  </div>
</section>
<!-- eof solution-carousel -->

<!-- video -->
<section ng-if="block.type == 'video'" ng-class="{'case-{{block.type}}': block.type}" ng-repeat-end 
  ng-style="{
      'color': idea.style.color, 
      'background-color': idea.style.bgColor, 
      'background-image': idea.style.bgImg && 'url(' + (isDesktop && idea.style.bgImg.desktop || idea.style.bgImg.mobile) + ')' || false
    }">
  <div  class="case-block">
    <div class="case-block__container">
      <h2 class="case-brief__title">
        Video
      </h2>
    </div>
  </div>
</section>
<!-- eof video -->