<div class="inner-page">
  <div class="inner-page__container">
    <div class="popup-digital__inner" layout="row" layout-wrap layout-fill layout-align="start start">
      <span class="popup-digital__close svg-icon" ng-click="closePanel();">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross"></use>
        </svg>
      </span>
      <div class="popup-digital__aside" flex-gt-sm="25" flex="100" flex="nogrow">
        <h2 class="popup-digital__title" ng-bind-html="trustAsHtml(digitalPopup.title)"></h2>
        <div class="popup-digital__summary"  ng-bind-html="trustAsHtml(digitalPopup.summary)"></div>
      </div>
      <div class="popup-digital__slider-wrap" flex-gt-sm="70" flex="100" flex="nogrow" flex-offset="5">
        <slick class="popup-digital__slider" settings="slickConfigPopup">
          <div class="popup-digital__slide popup-digital__content" 
            layout="row" layout-wrap 
            >
            <div class="popup-digital__content-col" 
              ng-repeat="item in digitalPopup.contentBlocks track by $index"
              flex-gt-sm="30" flex="100" 
              >
              <h3 class="popup-digital__content-title" ng-bind-html="trustAsHtml(item.title)"></h3>
              <div class="popup-digital__content" ng-bind-html="trustAsHtml(item.content)"></div>
            </div>
          </div>
          <div class="popup-digital__slide popup-digital__crosses">
            <div class="cases-list">
              <md-grid-list class="cases-list__grid"
                md-cols-gt-sm="5"
                md-cols="2"
                md-row-height="1:1"
                md-gutter="0" md-gutter-gt-sm="0" >
                <md-grid-tile 
                  md-rowspan="1" md-colspan="1" 
                  ng-repeat="item in digitalPopup.crosses"  
                  >
                  <a class="cases-list__grid-item" 
                    ng-class="{'plus-item': (item.type != 'client') }"
                    ng-attr-href="{{item.link}}"
                    title="{{item.title}}"
                    >
                    <div class="cases-list__grid-item-bg"  
                      ng-style="{
                        'background-image': 'url(' + (isDesktop && item.image.desktop || item.image.mobile || false) + ')'
                      }"
                      title="{{item.alt}}" 
                      ></div>
                    <span ng-if="item.type != 'client'" class="plus-item__icon">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
                      </svg>
                    </span>
                  </a>
                </md-grid-tile>
                <md-grid-tile 
                  md-rowspan="1" md-colspan="1" 
                  >
                  <div class="page-list__grid-item plus-item" 
                    ng-click="loadMoreCroses()"
                    title="{{item.title}}"
                    >
                    <span class="plus-item__icon">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-cross-thick" />
                      </svg>
                    </span>
                  </div>
                </md-grid-tile>
              </md-grid-list>
            </div>
          </div>
        </slick>
      </div>

    </div>
  </div>
</div>