<div class="digital">
	<div class="digital__container">
		<h5 class="digital__slogan">
			У нас есть<br>все для 360о<br>сервиса в digital
		</h5>
		<h2 class="digital__title">
			360<span class="digital__title__deg">o</span>
		</h2>
		<div class="mobileList">
			<div class="mobileList__item">
				<h6 class="mobileList__title">
					Стратегическое планирование
				</h6>
			</div>
			<div class="mobileList__item">
				<h6 class="mobileList__title">
					Стратегическое планирование
				</h6>
			</div>
			<div class="mobileList__item">
				<h6 class="mobileList__title">
					Стратегическое планирование
				</h6>
			</div>
		</div>
	</div>
</div>