@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulRegular/Articul.eot");
  src: url("../fonts/ArticulRegular/Articul.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulRegular/Articul.woff") format("woff"), url("../fonts/ArticulRegular/Articul.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulMedium/Articul-Medium.eot");
  src: url("../fonts/ArticulMedium/Articul-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulMedium/Articul-Medium.woff") format("woff"), url("../fonts/ArticulMedium/Articul-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulBlack/Articul-Black.eot");
  src: url("../fonts/ArticulBlack/Articul-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulBlack/Articul-Black.woff") format("woff"), url("../fonts/ArticulBlack/Articul-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulBold/Articul-Bold.eot");
  src: url("../fonts/ArticulBold/Articul-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulBold/Articul-Bold.woff") format("woff"), url("../fonts/ArticulBold/Articul-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulLight/Articul-Light.eot");
  src: url("../fonts/ArticulLight/Articul-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulLight/Articul-Light.woff") format("woff"), url("../fonts/ArticulLight/Articul-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulThin/Articul-Thin.eot");
  src: url("../fonts/ArticulThin/Articul-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulThin/Articul-Thin.woff") format("woff"), url("../fonts/ArticulThin/Articul-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

/*
 * functions
 */
/*
 * eof functions
 */
/*
 * functions
 */
/*
 * eof functions
 */
h1 {
  font-family: "Articul";
  font-size: 13.87283vh;
  font-weight: 900;
  line-height: 0.8125; }
  @media screen and (max-width: 960px) {
    h1 {
      font-size: 8.25472vh; } }

h2 {
  font-family: "Articul";
  font-size: 9.24855vh;
  font-weight: 900;
  line-height: 0.8125;
  text-transform: uppercase; }
  @media screen and (max-width: 960px) {
    h2 {
      font-size: 7.07547vh; } }

h3 {
  font-family: "Articul";
  font-size: 4.62428vh;
  font-weight: 100;
  line-height: 0.875; }
  @media screen and (max-width: 960px) {
    h3 {
      font-size: 3.53774vh; } }

h4 {
  font-family: "Articul";
  font-size: 2.77457vh;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase; }
  @media screen and (max-width: 960px) {
    h4 {
      font-size: 2.83019vh; } }

p {
  margin: 0;
  line-height: 1.1; }

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  font-family: "Articul";
  font-size: 2.08092vh;
  font-weight: normal;
  line-height: 1.1;
  background: #a8a5a4;
  -ms-overflow-x: hidden !important;
  overflow-x: hidden !important; }

.container {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 480px) {
    .container {
      width: 480px; } }
  @media (min-width: 600px) {
    .container {
      width: 768px; } }
  @media (min-width: 960px) {
    .container {
      width: 1024px; } }
  @media (min-width: 1280px) {
    .container {
      width: 1280px; } }

.row {
  margin-right: -15px;
  margin-left: -15px; }

svg {
  width: 100%;
  height: 100%; }

.svg-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  max-width: 1em;
  line-height: 1em; }
  .svg-icon svg {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    fill: currentColor; }

.header {
  margin-top: 50px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .header__logo {
    display: inline-block;
    width: 230px;
    height: 40px;
    background: transparent url("../img/sprite/articul-logo.svg") left top no-repeat; }
  .header__link {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    height: 40px;
    width: 40px; }
    .header__link img {
      max-width: 100%;
      display: block; }
    @media (max-width: 960px) {
      .header__link {
        display: none; } }
  .header__mobile-toggle {
    display: none;
    width: 40px;
    height: 40px;
    background: #dfdcdc;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    max-height: 40px;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none !important; }
    .header__mobile-toggle__line {
      position: absolute;
      width: 75%;
      height: 2px;
      left: 50%;
      top: 50%;
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
      background: #000000; }
      .header__mobile-toggle__line:before {
        position: absolute;
        content: '';
        top: -7px;
        left: 0;
        height: 2px;
        background: #000000;
        width: 100%; }
      .header__mobile-toggle__line:after {
        position: absolute;
        content: '';
        bottom: -7px;
        left: 0;
        width: 100%;
        background: #000000;
        height: 2px; }
    @media (max-width: 960px) {
      .header__mobile-toggle {
        display: inline-block; } }
  .header .nav {
    background: #cccccc;
    background: rgba(204, 204, 204, 0.2); }
    @media (max-width: 960px) {
      .header .nav {
        display: none; } }
    .header .nav__list {
      margin: 0;
      padding: 0;
      list-style: none; }
    .header .nav__item {
      position: relative;
      display: inline-block; }
      @media (max-width: 600px) {
        .header .nav__item {
          display: block; } }
      .header .nav__item:hover .submenu {
        visibility: visible;
        opacity: 1;
        display: -ms-flexbox;
        display: flex; }
      .header .nav__item:hover .nav__link {
        color: #ffffff;
        background: #000000; }
    .header .nav__link {
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      display: block;
      font-size: 16px;
      line-height: 40px;
      padding: 0 15px;
      color: #000000;
      transition: all .3s ease; }
    .header .nav .submenu {
      padding: 0;
      position: absolute;
      left: 0;
      top: 100%;
      left: 0;
      list-style: none;
      opacity: 0;
      visibility: hidden;
      display: none;
      background: #dfdcdc;
      background: rgba(223, 220, 220, 0.6); }
      .header .nav .submenu__item {
        display: inline-block; }
        .header .nav .submenu__item:hover .submenu__link {
          background: #ffffff; }
      .header .nav .submenu__link {
        color: #000000;
        text-decoration: none;
        font-size: 16px;
        line-height: 40px;
        white-space: nowrap;
        font-weight: 500;
        display: block;
        padding: 0 15px;
        transition: all .3s ease; }

md-sidenav {
  max-width: 100% !important;
  width: 100% !important;
  height: 100%; }

.sidenav__close {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  background-color: #ffffff !important;
  width: 100%; }

.sidenav .slick-dots li.slick-active {
  background: #f78429; }

.sidenav .slick-dots {
  position: relative;
  bottom: 0; }

.sidenav .slick-slide {
  opacity: .3;
  transition: all .8s ease; }

.sidenav .slick-active {
  opacity: 1;
  transition: all .8s ease; }

.sidenav__footer {
  padding: 20px 0;
  background: #e1dfdf;
  margin-top: 20px; }

.sidenav .mobileMenu__list {
  margin: 0;
  padding: 0;
  text-align: center; }

.sidenav .mobileMenu__item {
  margin-bottom: 30px; }

.sidenav .mobileMenu__link {
  text-decoration: none;
  color: #000000; }

.sidenav .mobileMenu__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 30px 0; }

.footer {
  background: rgba(204, 204, 204, 0.4);
  max-height: 50px;
  line-height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed; }
  .footer__copy {
    color: #0d0907;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    margin-right: 95px; }
    @media (max-width: 960px) {
      .footer__copy {
        margin: 0; } }
  .footer__icon {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle; }
    @media (max-width: 960px) {
      .footer__icon {
        display: none; } }
  .footer__img {
    max-width: 100%;
    display: block; }
  .footer__social {
    display: inline-block;
    float: right; }
    .footer__social svg {
      fill: #000000; }
  .footer__link {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    text-decoration: none; }

.about-block {
  display: -ms-flexbox;
  display: flex; }
  .about-block__item {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    background: #e8e9ed;
    background: rgba(232, 233, 237, 0.8); }
    .about-block__item--client {
      background-size: cover; }
    .about-block__item--project {
      position: relative;
      background: rgba(255, 255, 255, 0.4);
      cursor: pointer; }
      .about-block__item--project:after {
        position: absolute;
        content: '';
        bottom: 15px;
        right: 15px;
        background: transparent url("../img/sprite/cross-thick.svg") left top no-repeat;
        width: 15px;
        height: 15px;
        transition: all .7s ease;
        -ms-transform: rotate(0);
            transform: rotate(0); }
      .about-block__item--project:hover:after {
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .about-block__title {
    font-size: 20px;
    color: #000000;
    padding: 10px 0 0 10px;
    display: inline-block; }
  .about-block__date {
    font-size: 28px;
    display: inline-block;
    margin-top: 55px;
    margin-left: 10px; }

.case-block__container {
  min-height: 100vh;
  padding: 11.56069vh 5.85714vw 0;
  display: block;
  box-sizing: border-box; }

.case-announce {
  padding-top: 90px;
  background: url("../img/desktop/case1.jpg") center no-repeat;
  background-size: cover; }
  .case-announce__title {
    font-style: normal;
    margin: 0 0 4.62428vh 0;
    text-transform: uppercase; }
  .case-announce__summery {
    font-style: normal;
    font-weight: 100;
    margin: 0 0 9.24855vh 0; }
  .case-announce__about-block {
    padding-bottom: 17.34104vh; }
  .case-announce .case-block {
    padding-top: 9.24855vh; }

.case-briefidea {
  overflow: hidden;
  max-width: 100%; }
  .case-briefidea .case-block {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

.case-brief__title {
  color: inherit;
  margin: 0 0 5.78035vh 0; }

.case-brief__summery {
  font-weight: 100;
  font-style: normal; }
  .case-brief__summery:first-child {
    margin-top: 0;
    padding-top: 0; }
  .case-brief__summery:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.case-brief__content {
  padding-bottom: 5.78035vh; }
  .case-brief__content:first-child {
    margin-top: 0;
    padding-top: 0; }
  .case-brief__content:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.case-brief h4 {
  margin: 6.93642vh 0 2.89017vh; }

.case-brief ul {
  font-size: 2.77457vh;
  padding: 0 0 0 1em;
  margin: 2.89017vh 0; }

.case-idea__title {
  color: #000000;
  margin: 0 0 50px 0;
  text-transform: uppercase; }

.case-idea__content {
  padding-bottom: 5.78035vh;
  font-size: 2.77457vh;
  text-transform: uppercase;
  font-weight: bold; }
  .case-idea__content:first-child {
    margin-top: 0;
    padding-top: 0; }
  .case-idea__content:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.slick-slider__item {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh; }

.slick-slider__text {
  font-size: 40px;
  color: #000000;
  font-weight: 100;
  line-height: 35px; }

.slick-slider__wrap {
  padding-top: 150px; }

.slick-slider {
  margin: 0 !important; }

.slick-dots {
  bottom: 100px; }
  .slick-dots li {
    background: #c2c2c2;
    background: rgba(174, 174, 174, 0.6);
    border-radius: 50%; }
    .slick-dots li.slick-active {
      background: #ffffff; }
    .slick-dots li button {
      display: none; }
