@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulRegular/Articul.eot");
  src: url("../fonts/ArticulRegular/Articul.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulRegular/Articul.woff") format("woff"), url("../fonts/ArticulRegular/Articul.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulMedium/Articul-Medium.eot");
  src: url("../fonts/ArticulMedium/Articul-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulMedium/Articul-Medium.woff") format("woff"), url("../fonts/ArticulMedium/Articul-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulBlack/Articul-Black.eot");
  src: url("../fonts/ArticulBlack/Articul-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulBlack/Articul-Black.woff") format("woff"), url("../fonts/ArticulBlack/Articul-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulBold/Articul-Bold.eot");
  src: url("../fonts/ArticulBold/Articul-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulBold/Articul-Bold.woff") format("woff"), url("../fonts/ArticulBold/Articul-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulLight/Articul-Light.eot");
  src: url("../fonts/ArticulLight/Articul-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulLight/Articul-Light.woff") format("woff"), url("../fonts/ArticulLight/Articul-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulThin/Articul-Thin.eot");
  src: url("../fonts/ArticulThin/Articul-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulThin/Articul-Thin.woff") format("woff"), url("../fonts/ArticulThin/Articul-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

.h1 {
  font-family: "Articul";
  font-size: 120px;
  font-weight: 900; }
  @media screen and (max-width: 1024px) {
    .h1 {
      font-size: 70px; } }

.h2 {
  font-family: "Articul";
  font-size: 80px;
  font-weight: 900; }
  @media screen and (max-width: 1024px) {
    .h2 {
      font-size: 60px; } }

.h3 {
  font-family: "Articul";
  font-size: 40px;
  font-weight: 900; }
  @media screen and (max-width: 1024px) {
    .h3 {
      font-size: 30px; } }

.h4 {
  font-family: "Articul";
  font-size: 24px;
  font-weight: 900; }
  @media screen and (max-width: 1024px) {
    .h4 {
      font-size: 24px; } }

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  font-family: 'Articul';
  background: #a8a5a4;
  background-size: cover; }

.container {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 480px) {
    .container {
      width: 480px; } }
  @media (min-width: 768px) {
    .container {
      width: 768px; } }
  @media (min-width: 1024px) {
    .container {
      width: 1024px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1280px; } }

.row {
  margin-right: -15px;
  margin-left: -15px; }

svg {
  width: 100%;
  height: 100%; }

.svg-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  max-width: 1em;
  line-height: 1em; }
  .svg-icon svg {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    fill: currentColor; }

.header {
  margin-top: 50px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .header__logo {
    display: inline-block;
    width: 230px;
    height: 40px; }
    .header__logo img {
      max-width: 100%;
      display: block; }
  .header__link {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    height: 40px;
    width: 40px; }
    .header__link img {
      max-width: 100%;
      display: block; }
    @media (max-width: 768px) {
      .header__link {
        display: none; } }
  .header .nav {
    background: #cccccc;
    background: rgba(204, 204, 204, 0.2); }
    .header .nav__list {
      margin: 0;
      padding: 0;
      list-style: none; }
    .header .nav__item {
      position: relative;
      display: inline-block; }
      @media (max-width: 768px) {
        .header .nav__item {
          display: block; } }
      .header .nav__item:hover .submenu {
        visibility: visible;
        opacity: 1;
        display: -ms-flexbox;
        display: flex; }
      .header .nav__item:hover .nav__link {
        color: #ffffff;
        background: #000000; }
    .header .nav__link {
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      display: block;
      font-size: 16px;
      line-height: 40px;
      padding: 0 15px;
      color: #000000;
      transition: all .3s ease; }
    .header .nav .submenu {
      padding: 0;
      position: absolute;
      left: 0;
      top: 100%;
      left: 0;
      list-style: none;
      opacity: 0;
      visibility: hidden;
      display: none;
      background: #DFDCDC;
      background: rgba(223, 220, 220, 0.6); }
      .header .nav .submenu__item {
        display: inline-block; }
        .header .nav .submenu__item:hover .submenu__link {
          background: #ffffff; }
      .header .nav .submenu__link {
        color: #000000;
        text-decoration: none;
        font-size: 16px;
        line-height: 40px;
        white-space: nowrap;
        font-weight: 500;
        display: block;
        padding: 0 15px;
        transition: all .3s ease; }

.main {
  padding-top: 50px; }

.footer {
  background: rgba(204, 204, 204, 0.4);
  max-height: 50px;
  line-height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed; }
  .footer__copy {
    color: #0d0907;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    margin-right: 95px; }
  .footer__icon {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle; }
  .footer__img {
    max-width: 100%;
    display: block; }
  .footer__social {
    display: inline-block;
    float: right; }
    .footer__social svg {
      fill: #000000; }
  .footer__link {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    text-decoration: none; }

html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(0, 0, 0, 0.6); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0; }

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  right: -50px;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }
  @media (max-width: 1024px) {
    .remodal-close {
      right: 0;
      top: -50px; } }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 30px;
  width: 30px;
  content: "";
  background: transparent url("../img/sprite/cross.svg") left top no-repeat;
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0; }
  to {
    transform: none;
    opacity: 1; } }

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(0.95);
    opacity: 0; } }

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 800px; } }

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

.about-block {
  display: -ms-flexbox;
  display: flex; }
  .about-block__item {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    background: #e8e9ed;
    background: rgba(232, 233, 237, 0.8); }
    .about-block__item--client {
      background-size: cover; }
    .about-block__item--project {
      position: relative;
      background: rgba(255, 255, 255, 0.4); }
      .about-block__item--project:after {
        position: absolute;
        content: '';
        bottom: 15px;
        right: 15px;
        background: transparent url("../img/sprite/cross-thick.svg") left top no-repeat;
        width: 15px;
        height: 15px;
        transition: all .7s ease;
        -ms-transform: rotate(0);
            transform: rotate(0); }
      .about-block__item--project:hover:after {
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .about-block__title {
    font-size: 20px;
    color: #000000;
    padding: 10px 0 0 10px;
    display: inline-block; }
  .about-block__date {
    font-size: 28px;
    display: inline-block;
    margin-top: 55px;
    margin-left: 10px; }

.case-block__container {
  padding: 100px 82px 0;
  display: block;
  box-sizing: border-box; }

.case-announce {
  padding-top: 180px;
  background: url("../img/desktop/case1.jpg") center no-repeat;
  background-size: cover;
  height: 862px;
  height: 100vh; }
  .case-announce__title {
    font-size: 80px;
    font-size: 10vh;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    color: #F3E3CC;
    margin: 0 0 50px 0;
    text-transform: uppercase; }
  .case-announce__summery {
    font-style: normal;
    font-weight: 100;
    color: #F3E3CC;
    font-size: 40px;
    line-height: 35px;
    margin: 0 0 85px 0; }

.case-2 {
  overflow: hidden;
  background: transparent url("../img/desktop/idea-bg.jpg") left top no-repeat; }
  .case-2 .brief {
    display: inline-block;
    width: 45%;
    background: #1E2532;
    padding: 175px 80px 0 80px; }
    .case-2 .brief__title {
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 65px;
      color: #F3E3CC;
      margin: 0 0 50px 0;
      text-transform: uppercase; }
    .case-2 .brief__text {
      font-size: 18px;
      color: #F3E3CC;
      font-weight: 100;
      font-style: normal; }
  .case-2 .idea {
    display: inline-block;
    padding: 175px 80px 0 80px;
    width: 55%;
    background: transparent url("../img/desktop/idea-bg.jpg") left top no-repeat; }
    .case-2 .idea__title {
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 65px;
      color: #000000;
      margin: 0 0 50px 0;
      text-transform: uppercase; }

.slick-slider__item {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh; }

.slick-slider__text {
  font-size: 40px;
  color: #000000;
  font-weight: 100;
  line-height: 35px; }

.slick-slider__wrap {
  padding-top: 150px; }

.slick-slider {
  margin: 0 !important; }

.slick-dots {
  bottom: 100px; }
  .slick-dots li {
    background: #c2c2c2;
    background: rgba(174, 174, 174, 0.6);
    border-radius: 50%; }
    .slick-dots li.slick-active {
      background: #ffffff; }
    .slick-dots li button {
      display: none; }
