@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulRegular/Articul.eot");
  src: url("../fonts/ArticulRegular/Articul.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulRegular/Articul.woff") format("woff"), url("../fonts/ArticulRegular/Articul.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulMedium/Articul-Medium.eot");
  src: url("../fonts/ArticulMedium/Articul-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulMedium/Articul-Medium.woff") format("woff"), url("../fonts/ArticulMedium/Articul-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulBlack/Articul-Black.eot");
  src: url("../fonts/ArticulBlack/Articul-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulBlack/Articul-Black.woff") format("woff"), url("../fonts/ArticulBlack/Articul-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulBold/Articul-Bold.eot");
  src: url("../fonts/ArticulBold/Articul-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulBold/Articul-Bold.woff") format("woff"), url("../fonts/ArticulBold/Articul-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Articul';
  src: url("../fonts/ArticulLight/Articul-Light.eot");
  src: url("../fonts/ArticulLight/Articul-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ArticulLight/Articul-Light.woff") format("woff"), url("../fonts/ArticulLight/Articul-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  font-family: 'Articul';
  background: transparent url("../img/desktop/bg.jpg") center top no-repeat;
  background-size: cover; }

.container {
  max-width: 1284px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px; }

svg {
  width: 100%;
  height: 100%; }

.svg-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  max-width: 1em;
  line-height: 1em; }
  .svg-icon svg {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    fill: currentColor; }

.header {
  margin-top: 50px;
  height: 40px;
  display: -ms-flexbox;
  display: flex; }
  .header__logo {
    display: inline-block;
    width: 230px;
    height: 40px; }
    .header__logo img {
      max-width: 100%;
      display: block; }
  .header__link {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    height: 40px;
    width: 40px; }
    .header__link img {
      max-width: 100%;
      display: block; }
  .header .nav {
    background: rgba(204, 204, 204, 0.2); }
    .header .nav__list {
      margin: 0;
      padding: 0; }
    .header .nav__item {
      display: inline-block; }
    .header .nav__link {
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      display: block;
      font-size: 16px;
      line-height: 40px;
      padding: 0 15px;
      color: #000000;
      transition: all .3s ease; }
      .header .nav__link:hover {
        color: #ffffff;
        background: #000000; }

.main {
  height: 80vh; }

.footer {
  background: rgba(204, 204, 204, 0.4);
  max-height: 50px;
  line-height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed; }
  .footer__copy {
    color: #0d0907;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    margin-right: 95px; }
  .footer__icon {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle; }
  .footer__img {
    max-width: 100%;
    display: block; }
  .footer__social {
    display: inline-block;
    float: right; }
    .footer__social svg {
      fill: #000000; }
  .footer__link {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    text-decoration: none; }
