<div class="command-page">
  <div class="command-page__container" layout="row" layout-wrap>
   	<div class="command-item" ng-repeat="item in commandData.commandItem" ng-class="{'command-item--active': active}" ng-click="active = !active">
   		<div class="command-item__img" ng-style="{'background-image': item.image}"></div>
   		<h5 class="command-item__title" ng-bind-html="trustAsHtml(item.title)"></h5>
   		<h6 class="command-item__sub-title" ng-bind-html="trustAsHtml(item.subTitle)"></h6>
   	</div>
  </div>
</div>